* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.mainbox {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    height: 300px;
    padding: 10px 10px 0;
}

.mainbox .column {
    flex: 5;
}

.mainbox .column:nth-child(2) {
    flex: 5;
    margin: 0 0.125rem 0.1875rem;
}

.mainbox .panel {
    position: relative;
    height: 3.875rem;
    padding: 0 0.1875rem 0.5rem;
    border: 1px solid rgba(25, 186, 139, 0.17);
    margin-bottom: 0.1875rem;
    background: url(../images/line.png), rgba(255, 255, 255, 0.03);
}

.mainbox .panel::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}

.mainbox .panel::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}

.mainbox .panel .panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mainbox .panel .panel-footer::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
}

.mainbox .panel .panel-footer::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
}

.mainbox .panel h2 {
    height: 0.6rem;
    color: #fff;
    line-height: 0.6rem;
    text-align: center;
    font-size: 0.25rem;
    font-weight: 400;
}

.mainbox .panel .chart {
    height: 3rem;
}

.no {
    background: rgba(101, 132, 226, 0.3);
    padding: 0.1875rem;
}

.no .no-hd {
    position: relative;
    border: 1px solid rgba(25, 186, 139, 0.17);
}

.no .no-hd::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 10px;
    border-left: 2px solid #02a6b5;
    border-top: 2px solid #02a6b5;
    content: "";
}

.no .no-hd::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 10px;
    border-right: 2px solid #02a6b5;
    border-bottom: 2px solid #02a6b5;
    content: "";
}

.no .no-hd ul {
    display: flex;
}

.no .no-hd ul li {
    position: relative;
    flex: 1;
    line-height: 1rem;
    font-size: 0.875rem;
    color: #ffeb7b;
    text-align: center;
    font-family: electronicFont;
}

.no .no-hd ul li::after {
    content: '';
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.no .no-bd ul {
    display: flex;
}

.no .no-bd ul li {
    flex: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.225rem;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-top: 0.125rem;
}