body {
    /* background-image: url(../images/yi.jpg); */
    background-color: #ffedd4d5;
}

#login_box {
    background-color: #00000068;
    text-align: center;
    margin: 0px auto;
    margin-top: 100px;
    border-radius: 13px;
    /* padding-left: 100px; */
    width: 350px;
    height: 400px;
}

#login_box h1 {
    padding-top: 60px;
    color: #fff;
}

#login_box .input_box {
    margin-top: 15px;
}

#login_box .input_box input {
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    outline: none;
    color: #fff;
}

#login_box button {
    margin-top: 50px;
    width: 130px;
    height: 25px;
    border-radius: 13px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: #fff;
}